.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 4px;
}

.sidebarTopContent {
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 24px;

    .container:global(._collapsed) & {
        padding-left: 8px;
        gap: 8px;
    };
}

.collapseButton {
    min-width: 30px;
}

.logoWrapper {
    height: 150px;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: margin 0.2s;

    .container:global(._collapsed) & {
        height: 86px;
    }
}

.logoSmall {
    display: none;
    opacity: 0;
    transition: all 0s;
    height: 42px;
    width: 42px;

    .container:global(._collapsed) & {
        display: block;
        opacity: 1;
        transition: all 0.6s;
    }
}

.logoCompanyName {
    opacity: 1;
    transition: all 0.6s;
    height: 106px;

    .container:global(._collapsed) & {
        opacity: 0;
        transition: all 0s;
    }
}

.divider {
    margin: 0 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.menu {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &::before,
    &::after {
        display: none;
    }
}

.menuItem {
    height: 48px !important;
    line-height: 24px !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #0a0e2c !important;
    border-radius: 0 !important;
    transition: height 0.2s;
    font-weight: 600;
    border-right: 6px solid transparent;

    .container:global(._collapsed) & {
        height: 48px !important;
    }

    &:hover:not(:global(.ant-menu-item-selected)) {
        background: 0 !important;
        color: var(--color-text-200);
    }

    &:global(.ant-menu-item-selected) {
        background-color: transparent !important;
        border-right: 6px solid var(--color-primary);
        transition: border-color 0.3s ease;
        color: var(--color-primary) !important;
    }
}

.menuLink {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 16px 6px;
    transition: all 0.2s;
    box-sizing: border-box;

    .container:global(._collapsed) & {
        padding: 12px 24px;
        align-items: center;
    }

    &::before,
    &::after {
        display: none;
    }
}

.menuLinkRow {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.menuItemLabel {
    opacity: 1;
    transition: opacity 0.6s;

    &._small {
        display: none;
    }

    .container:global(._collapsed) & {
        display: none;

        &._small {
            visibility: hidden;
        }
    }
}

:global .ant-menu-inline-collapsed-tooltip,
:global .ant-menu-submenu-popup {
    display: none !important;
}
