.container {
    position: sticky;
    top: 64px;
    background-color: var(--color-white);
    padding: 12px 0;
    padding-bottom: 0;
}

.breadcrumbs {
    margin-bottom: 12px;
    display: flex;
    gap: 8px;
}

.menu {
    position: relative;
    background: 0;
    display: flex;
    margin: 0 -16px;
    padding-bottom: 1px;
}
