.container {
    min-height: 100vh;
    background-color: #fafcff;
    position: relative;
}

.content {
    background: 0;
    position: relative;
    padding-bottom: 64px;
    background: linear-gradient(to bottom, #E0EAFF 360px, #FAFCFF 360px);
}

.pageHeaderWrapper {
    background-color: var(--color-white);
    filter: drop-shadow(0px 2px 4px rgba(54, 58, 62, 0.06));
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 248px;
    height: 64px;
    z-index: 3;
    transition: left 0.2s;

    &Collapsed {
        left: 100px;
    }
}

.pageHeader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    @media only screen and (min-width: 1281px) {
        max-width: 1120px;
    }
}

.pageContentWrapper {
    @media only screen and (min-width: 1281px) {
        display: flex;
        justify-content: center;
    }
}

.pageContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    padding-top: 64px;
    gap: 40px;

    @media only screen and (min-width: 1281px) {
        max-width: 1120px;
    }
}

.userMenu {
    display: flex;
    align-items: center;
    gap: 8px;
}
